.board {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,0.1);
}

.board__square {
	flex: 0 0 auto;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	font-size: 36px;
	line-height: 96px;
}
